# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/adapter-kafka/target/**/*.*
/adapter-rest/target/**/*.*
/crypto/target/**/*.*
/dao-lib/target/**/*.*
/db-migration/target/**/*.*
/domain-model/target/**/*.*
/domain-services/target/**/*.*
/infrastructure/target/**/*.*
/logging/target/**/*.*
/opentelemetry/target/**/*.*
/crypto.iml
/adapter-rest.iml
/domain-model.iml
/poc-spring-telemetry.iml
/ports.iml
/ports/target/**/*.*
/search-filter/target/**/*.*
/shared-utils/target/**/*.*
/spi-kafka/target/**/*.*
/spi-kafka/dependency-reduced-pom.xml
/spi-user-storage/target/**/*.*
/validation/target/**/*.*
/spi-user-storage/dependency-reduced-pom.xml
/adapter-kafka.iml

/adapter-rest/target/classes/META-INF/spring/logback-model
/adapter-rest/target/classes/META-INF/spring/logback-pattern-rules
/adapter-rest/target/spring-aot/main/resources/META-INF/spring/logback-model
/adapter-rest/target/spring-aot/main/resources/META-INF/spring/logback-pattern-rules
/adapter-rest/target/adapter-rest
protobuf-model/target/**/*.*
/docker/container/grafana/grafana.db
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NGMyMGY1Y2E6MTk1NGNlOWNiOTQ6NWE3NDEzMmY=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NGQwZjNmNmY6MTk1NGQwZmU5Mzc6OWZhMGE4OGE=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NGU4ZDM2ZWE6MTk1NGU5YTRmYmQ6NDliODBkYTM=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NGViOWUzYjU6MTk1NTBlMjY3MDQ6MmNjYzg2NTg=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NTBlMzg5ZDc6MTk1NTExMTEzZjI6ZjhlODg2MTM=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NTI1YmMwZGY6MTk1NTI2MGNiOGQ6MjYxMGJmYTc=
/docker/container/loki/chunks/fake/68b98d9c3f09d250/MTk1NTYyYWNjMGE6MTk1NTYyYzIzMzM6ZGY0ZGU1OTM=
/docker/container/loki/chunks/index/index_20147/fake/1740819873561979463-compactor-1740738983370-1740818769668-79a1547a.tsdb.gz
/docker/container/loki/chunks/index/index_20148/fake/1740846157164149742-compactor-1740782560181-1740843830157-9774558.tsdb.gz
/docker/container/loki/chunks/index/index_20149/fake/1740928633358841502-compactor-1740907400202-1740907488051-75b22663.tsdb.gz
/docker/container/loki/chunks/loki_cluster_seed.json
/docker/container/loki/tsdb-shipper-active/uploader/name
/docker/container/loki/tsdb-shipper-active/wal/filesystem_2020-10-24/1740929408/00000000
/docker/container/loki/tsdb-shipper-cache/index_20147/fake/1740819873561979463-compactor-1740738983370-1740818769668-79a1547a.tsdb
/docker/container/loki/tsdb-shipper-cache/index_20148/fake/1740846157164149742-compactor-1740782560181-1740843830157-9774558.tsdb
/docker/container/loki/tsdb-shipper-cache/index_20149/fake/1740928633358841502-compactor-1740907400202-1740907488051-75b22663.tsdb
/docker/container/loki/wal/checkpoint.000137/00000000
/docker/container/loki/wal/checkpoint.000138.tmp/00000000
/docker/container/loki/wal/00000138
/docker/container/loki/wal/00000139
/docker/container/prometheus/01JN920H0345Y4Q4GGDKXCCRFN/chunks/000001
/docker/container/prometheus/01JN920H0345Y4Q4GGDKXCCRFN/index
/docker/container/prometheus/01JN920H0345Y4Q4GGDKXCCRFN/meta.json
/docker/container/prometheus/01JN920H0345Y4Q4GGDKXCCRFN/tombstones
/docker/container/prometheus/01JNB2JX6P06ZZMNEXK98VAMNF/chunks/000001
/docker/container/prometheus/01JNB2JX6P06ZZMNEXK98VAMNF/index
/docker/container/prometheus/01JNB2JX6P06ZZMNEXK98VAMNF/meta.json
/docker/container/prometheus/01JNB2JX6P06ZZMNEXK98VAMNF/tombstones
/docker/container/prometheus/01JNB2JX45VSEA57BX32X30AM8/chunks/000001
/docker/container/prometheus/01JNB2JX45VSEA57BX32X30AM8/index
/docker/container/prometheus/01JNB2JX45VSEA57BX32X30AM8/meta.json
/docker/container/prometheus/01JNB2JX45VSEA57BX32X30AM8/tombstones
/docker/container/prometheus/01JNB2JXCPE88AN4YCNGXW2DDJ/chunks/000001
/docker/container/prometheus/01JNB2JXCPE88AN4YCNGXW2DDJ/index
/docker/container/prometheus/01JNB2JXCPE88AN4YCNGXW2DDJ/meta.json
/docker/container/prometheus/01JNB2JXCPE88AN4YCNGXW2DDJ/tombstones
/docker/container/prometheus/01JNBPC5BK7F9J16CZKKC5DW9D/chunks/000001
/docker/container/prometheus/01JNBPC5BK7F9J16CZKKC5DW9D/index
/docker/container/prometheus/01JNBPC5BK7F9J16CZKKC5DW9D/meta.json
/docker/container/prometheus/01JNBPC5BK7F9J16CZKKC5DW9D/tombstones
/docker/container/prometheus/chunks_head/000001
/docker/container/prometheus/wal/checkpoint.00000014/00000000
/docker/container/prometheus/wal/00000015
/docker/container/prometheus/wal/00000016
/docker/container/prometheus/wal/00000017
/docker/container/prometheus/wbl/00000017
/docker/container/prometheus/lock
/docker/container/prometheus/queries.active
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/3d96a93cfcb32df74eef.svg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/drilldown-features.png
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/explore-logs-features.jpeg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/fields.png
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_err.svg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_err_light.svg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/grot_loki.svg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/logo.svg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/patterns.png
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/service_logs.jpg
/docker/container/grafana/plugins/grafana-lokiexplore-app/img/table.png
/docker/container/grafana/plugins/grafana-lokiexplore-app/105.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/105.js.LICENSE.txt
/docker/container/grafana/plugins/grafana-lokiexplore-app/105.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/220.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/220.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/599.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/599.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/631.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/631.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/695.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/695.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/747.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/747.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/854.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/854.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/944.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/944.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/1759fd27b2c9f73dea05.wasm
/docker/container/grafana/plugins/grafana-lokiexplore-app/649058283f564041551d.wasm
/docker/container/grafana/plugins/grafana-lokiexplore-app/CHANGELOG.md
/docker/container/grafana/plugins/grafana-lokiexplore-app/LICENSE
/docker/container/grafana/plugins/grafana-lokiexplore-app/MANIFEST.txt
/docker/container/grafana/plugins/grafana-lokiexplore-app/module.js
/docker/container/grafana/plugins/grafana-lokiexplore-app/module.js.map
/docker/container/grafana/plugins/grafana-lokiexplore-app/plugin.json
/docker/container/grafana/plugins/grafana-lokiexplore-app/README.md
/docker/container/grafana/plugins/grafana-pyroscope-app/img/8cdf4d2e2df8326311ab.gif
/docker/container/grafana/plugins/grafana-pyroscope-app/img/9c9cdd5175734d579007.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/58f0b0e1cfa063e4b662.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/61b4cf746a6f58780f27.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/bafee50693eb02088442.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/decrease-latency.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/diff-view-how-to.gif
/docker/container/grafana/plugins/grafana-pyroscope-app/img/hero-image.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/logo.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/img/reduce-costs.png
/docker/container/grafana/plugins/grafana-pyroscope-app/img/resolve-incidents.png
/docker/container/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-dark.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/pages/ProfilesExplorerView/components/SceneByVariableRepeaterGrid/components/SceneEmptyState/ui/img/grot-404-light.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/shared/infrastructure/profile-metrics/profile-metrics.json
/docker/container/grafana/plugins/grafana-pyroscope-app/944c737f589d02ecf603.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/CHANGELOG.md
/docker/container/grafana/plugins/grafana-pyroscope-app/e6c722427cfa8715e19d.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/e79edcfbe2068fae2364.svg
/docker/container/grafana/plugins/grafana-pyroscope-app/LICENSE
/docker/container/grafana/plugins/grafana-pyroscope-app/MANIFEST.txt
/docker/container/grafana/plugins/grafana-pyroscope-app/module.js
/docker/container/grafana/plugins/grafana-pyroscope-app/module.js.LICENSE.txt
/docker/container/grafana/plugins/grafana-pyroscope-app/module.js.map
/docker/container/grafana/plugins/grafana-pyroscope-app/plugin.json
/docker/container/grafana/plugins/grafana-pyroscope-app/README.md
/docker/container/prometheus/wal/00000000
/docker/container/prometheus/wbl/00000000
/docker/docker-services-base.yml
/.vscode/launch.json
/.vscode/settings.json
