# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/adapter-kafka/target/maven-archiver/pom.properties
/adapter-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/adapter-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/adapter-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/adapter-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/adapter-rest/target/classes/application.yml
/adapter-rest/target/classes/logback-spring.xml
/adapter-rest/target/maven-archiver/pom.properties
/adapter-rest/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/adapter-rest/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/adapter-rest/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/adapter-rest/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/adapter-rest/target/adapter-rest-1.0.0-SNAPSHOT.jar.original
/crypto/target/maven-archiver/pom.properties
/crypto/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/crypto/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/crypto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/crypto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/dao-lib/target/maven-archiver/pom.properties
/dao-lib/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/dao-lib/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/dao-lib/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/dao-lib/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/db-migration/target/classes/postgresql/changelogs.xml
/db-migration/target/classes/postgresql/grants.sql
/db-migration/target/classes/tips/create_all.sql
/db-migration/target/classes/tips/revoke_privileges.sql
/db-migration/target/classes/tips/sql_sectors_hierarchy.sql
/db-migration/target/maven-archiver/pom.properties
/db-migration/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/db-migration/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/domain-model/target/maven-archiver/pom.properties
/domain-model/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/domain-model/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/domain-model/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/domain-model/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/domain-services/target/maven-archiver/pom.properties
/domain-services/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/domain-services/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/domain-services/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/domain-services/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/infrastructure/target/classes/sql/events.properties
/infrastructure/target/classes/sql/organizations.properties
/infrastructure/target/classes/sql/sectors.properties
/infrastructure/target/classes/sql/tenants.properties
/infrastructure/target/classes/sql/users.properties
/infrastructure/target/maven-archiver/pom.properties
/infrastructure/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/infrastructure/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/infrastructure/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/infrastructure/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/logging/target/classes/messages.properties
/logging/target/maven-archiver/pom.properties
/logging/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/logging/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/logging/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/logging/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/opentelemetry/target/maven-archiver/pom.properties
/opentelemetry/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/opentelemetry/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/opentelemetry/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/opentelemetry/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/crypto.iml
/adapter-rest.iml
/domain-model.iml
/poc-spring-telemetry.iml
/ports.iml
/ports/target/maven-archiver/pom.properties
/ports/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ports/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ports/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/ports/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/Filter.interp
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/FilterBaseListener.java
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/FilterLexer.interp
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/FilterLexer.java
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/FilterListener.java
/search-filter/target/generated-sources/antlr4/com/acme/jga/search/filtering/FilterParser.java
/search-filter/target/generated-sources/antlr4/Filter.tokens
/search-filter/target/generated-sources/antlr4/FilterLexer.tokens
/search-filter/target/maven-archiver/pom.properties
/search-filter/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/search-filter/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/search-filter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/search-filter/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/shared-utils/target/maven-archiver/pom.properties
/shared-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/shared-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/shared-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/shared-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/spi-kafka/target/classes/META-INF/services/com.acme.jga.keycloak.spi.kafka.KafkaConsumerProviderFactory
/spi-kafka/target/classes/META-INF/services/org.keycloak.provider.Spi
/spi-kafka/target/maven-archiver/pom.properties
/spi-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/spi-kafka/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/spi-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/spi-kafka/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/spi-kafka/dependency-reduced-pom.xml
/spi-user-storage/target/classes/META-INF/services/org.keycloak.storage.UserStorageProviderFactory
/spi-user-storage/target/maven-archiver/pom.properties
/spi-user-storage/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/spi-user-storage/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/spi-user-storage/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/spi-user-storage/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/validation/target/maven-archiver/pom.properties
/validation/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/validation/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/validation/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/validation/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/spi-user-storage/dependency-reduced-pom.xml
